@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
  display: grid;
  grid-template-columns: repeat(10);
  grid-template-rows: repeat(11);
  margin: 0;
  font-family: "Roboto";
  font-size: 1em;
  font-family: 'Roboto';
}

nav{
  grid-column: 1/11;
  grid-row: 1/2;
  padding: 1em 1em 1em 3em;
  background: white;

  .logo{
    width: 40%;
    float: left;
    img{
      width: 10em;
    }
  }

  ul{
    padding: 0.3em 0 0 0;
    float: left;

    li{
     list-style-type: none;
     display: inline-flex;
     padding-right: 2em;
   }
  }

  .SearchBar{
    float: left;
    margin: 1.2em 0 0 9em;

    input{
      border: 0.1em solid #ff000082;
      border-radius: 0.2em 0 0 0.2em;
      padding: 0.2em;
      border-right: 0;
    }
  }

  button{
    margin-left: -0.29em;
    background: #ff0000a1;
    color: white;
    border: none;
    height: 1.745em;
    border-radius:0 0.2em 0.2em 0;
    width: 3em;
  }

}

section.aboutUs{
  grid-column: 1/11;
  background: #80808063;
  padding: 3em;
  text-align: center;

  ul{

    padding-left: 0;

   li{
    list-style-type: none;
    display: inline-flex;
    padding: 1em;
  }

}

}

.welcomeToCompany{
  grid-column: 1/11;
  // background: blue;
  padding: 2em 10em 2em 10em;

  .ourServices{
    width: 50%;
    float: left;

    h2{
      margin: 0;
    }

    button{
      background: red;
      border: 0 solid white;
      padding: 0.3em 0.9em 0.3em 0.9em;
      color: white;
      border-radius: 0.2em;
    }
  }

  .picture{
    width: 50%;
    float: left;
    padding: 2em;

  }
}

.whoWeAre{
  grid-column: 1/11;
  background: skyblue;

  picture{
    width: 50%;
    float: left;
  }

  .whoWeAreText{
    width: 30%;
    float: left;
    padding: 2em 8em 2em 2em;
  }

  .ourVision{
    width: 40%;
    float: left;
    padding-right: 2em;
  }


}

.meetOurTeam{
  grid-column: 1/11;
  background: yellow;
  padding: 2em;
}







.logoSlide{
  grid-column: 1/11;
  color: white;
  padding: 2em 0em 2em 0em;
  background: black;

    img{
      width: 6.7em;
      padding: 0em 1em 0em 1em;
    }
}


section.sec2{
  grid-column: 1/11;
  padding: 3em;

  .address{
    width: 20%;
    float: left;
    padding: 4em;
  }

  .company{
    width: 20%;
    float: left;
    padding: 1em;

    ul{
      padding-left: 1em;
      margin: 0;

      li{
        padding-bottom: 1em;
      }
    }
  }

  .helpAndSupport{
    width: 20%;
    float: left;
    padding: 1em;

    ul{
      padding-left: 1em;
      margin: 0;

      li{
        padding-bottom: 1em;
      }
    }
  }

  .instagramWidget{
    width: 20%;
    float: left;
    padding: 1em;
  }

}

footer{
  grid-column: 1/11;
  background: #ff0000a1;
  padding: 1em 7em 1em 7em;
  color: white;

  .copyright{
    width: 50%;
    float: left;
  }

  .followUs{
    width: 50%;
    float: left;
  }

  i{
    padding: 0 0.5em 0 0.5em;
  }
}
