@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  display: grid;
  grid-template-columns: repeat(10);
  grid-template-rows: repeat(11);
  margin: 0;
  font-family: "Roboto";
  font-size: 1em;
}

nav{
  grid-column: 1/11;
  grid-row: 1/2;
  padding: 1em 1em 1em 3em;
  background: white;

  .logo{
    width: 35%;
    float: left;
    img{
      width: 10em;
    }
  }

  ul{
    padding: 0.3em 0 0 0;
    float: left;

    li{
     list-style-type: none;
     display: inline-flex;
     padding-right: 2em;

     a{
       text-decoration: none;
       color: inherit;
     }

    a:hover{
      color: #ff000082;
    }
   }
  }

  .SearchBar{
    float: left;
    margin: 1.2em 0 0 9em;

    input{
      border: 0.1em solid #ff000082;
      border-radius: 0.2em 0 0 0.2em;
      padding: 0.2em;
      border-right: 0;
    }
  }

  button{
    margin-left: -0.29em;
    background: #ff0000a1;
    color: white;
    border: none;
    height: 1.745em;
    border-radius:0 0.2em 0.2em 0;
    width: 3em;
  }

}


.codeForCapeTown{
  grid-column: 1/11;
  padding: 3em;
  color: white;
  text-align: center;
  background-size: cover;
  font-size: 1.5em;

  .text{
    background: #00000054;
    padding: 1em;
    margin: 2em 10em 2em 10em;
    border-radius: 0.7em;
  }

  button{
    background: none;
    color: white;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1em;
    border-radius: 0.2em;
    border: 0.1em solid white; 
  }
}


.whoWeAre{
  grid-column: 1/11;
  padding: 1em 15em 1em 15em;
  background: #ffc0cb9c;

  .text{
    width: 45%;
    float: left;
    padding: 1em;

    h2{
      border-bottom: 0.1em solid red;
      margin: 0;
      padding-bottom: 0.5em;
    }
  }

  picture{
    width: 45%;
    padding: 1em;
    float: left;

    img{
      width: 45%;
      height: 10em;
      padding: 0.5em;
    }
  }

  button{
    background: red;
    color: white;
    border-radius: 0.2em;
    padding: 0.5em 2em 0.5em 2em;
    margin-top: 4em;
    // border: 0.1em solid black;

  }
}


.iconsSection{
  grid-column: 1/11;
  padding: 1em;
  // background: rgb(136, 135, 135);

  .coding{
    text-align: center;
    padding: 2em;
    width: 20%;
    float: left;

    .icon{

      img{
        width: 5em;
      }
    }
  }
}

.ourAwesomePortfolio{
  grid-column: 1/11;
  background: pink;
  padding: 3em 15em 3em 15em;
  text-align: center;
}


.meetOurTeam{
  grid-column: 1/11;
  padding: 2em 10em 2em 10em;

  .person{
    width: 45%;
    float: left;
    padding: 1em 0 1em 0;
    margin: 0.2em;
    height: 353.5px;

    .image{
      width: 45%;
      float: left;
      padding: 1em ;

      img{
        width: 100%;
      }
    }

    .text{
      padding: 1em;
      width: 40%;
      float: left;

      h3{
        margin: 0.5em 0 0.5em 0;
      }

      p{
        margin: 0;
      }
    }
  }
}


section.stats{
  background: black;
  grid-column: 1/11;


  .eachStat{
    color: white;
    text-align: center;
    width: 25%;
    float: left;
    // font-size: 2.7em;
    h2{
      margin: 1em 0 0.2em 0;
      border-radius: 50%;
    }
    p{
      margin: 0.5em 0 2em 0;
    }
  }
}


.subscribeToUs{
  grid-column: 1/11;
  padding: 2em;
  text-align: center;

  input{
    height: 1.5em;
    width: 20em;
    padding: 0.5em;
  }

  button{
    height: 2.5em;
    width: 8em;
    background: red;
    color: white;
    border: none;
    border-radius: 0.2em;
  }
}







.logoSlide{
  grid-column: 1/11;
  color: white;
  padding: 2em 0em 2em 0em;
  background: black;

    img{
      width: 6.7em;
      padding: 0em 1em 0em 1em;
    }
}


section.sec2{
  grid-column: 1/11;
  padding: 3em;

  .address{
    width: 20%;
    float: left;
    padding: 4em;
  }

  .company{
    width: 20%;
    float: left;
    padding: 1em;

    ul{
      padding-left: 1em;
      margin: 0;

      li{
        padding-bottom: 1em;
      }
    }
  }

  .helpAndSupport{
    width: 20%;
    float: left;
    padding: 1em;

    ul{
      padding-left: 1em;
      margin: 0;

      li{
        padding-bottom: 1em;
      }
    }
  }

  .instagramWidget{
    width: 20%;
    float: left;
    padding: 1em;
  }

}

footer{
  grid-column: 1/11;
  background: #ff0000a1;
  padding: 1em 7em 1em 7em;
  color: white;

  .copyright{
    width: 50%;
    float: left;
  }

  .followUs{
    width: 50%;
    float: left;
  }

  i{
    padding: 0 0.5em 0 0.5em;
  }
}
